﻿@{
    var routeValues = this.ViewContext.RouteData.Values;
    var Controller = routeValues["controller"] as string;
    var Action = routeValues["action"] as string;
}
<div class="row">
    <div class="container">
        <div class="col-md-1">
            @Html.RouteLink("Türkçe", new { action = Action, controller = Controller, lang = "tr" })
        </div>
        <div class="col-md-1">
            @Html.RouteLink("İngilizce", new { action = Action, controller = Controller, lang = "en" })
        </div>
    </div>
</div>
