﻿@using ibrahimekinci.Plugin.Localization.LanguageResource
<ul class="nav navbar-nav">
    <li>
        <a href="@Url.Action("Index","Home")">
            <i class="pe-7s-graph"></i>
            <p>@Lang.MenuHome</p>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="pe-7s-user"></i>
            <p>@Lang.LabelBranch</p>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Form","Contact")">
            <i class="pe-7s-user"></i>
            <p>@Lang.MenuContactForm</p>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index","Language")">
            <i class="pe-7s-user"></i>
            <p>@Lang.LabelLanguage</p>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="pe-7s-user"></i>
            <p>@Lang.LabelMedia</p>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="pe-7s-user"></i>
            <p>@Lang.LabelMediaBag</p>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="pe-7s-user"></i>
            <p>@Lang.LabelMenu</p>
        </a>
    </li>

    <li>
        <a href="#">
            <i class="pe-7s-user"></i>
            <p>@Lang.LabelPost</p>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="pe-7s-user"></i>
            <p>@Lang.LabelActivity</p>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="pe-7s-user"></i>
            <p>@Lang.LabelAnnouncement</p>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="pe-7s-user"></i>
            <p>@Lang.LabelProduct</p>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index","SiteSetings")">
            <i class="pe-7s-user"></i>
            <p>@Lang.MenuSiteSetings</p>
        </a>
    </li>
    <li>
</ul>